%tr{data:{time:time.id}}
    %th= time.starts_at.strftime('%a, %b %-d, %I%P')
    %td
        - status = time.status_for(user)
        %img{class:'dot', src:"images/#{status.image}", title:status.label}
    %td.signups.confirmed= time.confirmed_count
    %td.signups.tentative= time.tentative_count
    %td.signups.declined= time.declined_count
    %td.who
        %button.who(title='Who is in?') ≡