%div{title:"#{time.confirmed_count} confirmed, #{time.tentative_count} tentative, #{time.declined_count} declined"}
    %span.confirmed= time.confirmed_count
    %span.tentative= time.tentative_count
    %span.declined= time.declined_count
