- if @event
	%h1= @event.name
	#location!= markdown(@event.location)
	#description!= markdown(@event.description)


	%table.justme
		%tbody
			- @event.upcoming.each do |time|
				%tr
					%th= time.starts_at.strftime('%a %b-%-d @ %I%P')
					%td
						%img{class:'dot', src:"images/#{time.status_for(@user).image}"}

- else
	Uh, I don't know what you're talking about.
